<!-- メイン画像 -->
<div id="mainBanner" class="mainImg">
	<%= image_tag "main_img.jpg", alt: "" %>
</div>
<!-- / メイン画像 -->
<!-- サーチバー  -->
<%= render partial: "layouts/search_bar" %>
<!-- / サーチバー  -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= render partial: "menus/menus", locals:{menus: @menus} %>
    </div>
  </div>
  <div class="row center ma-b-20">
    <div class="col-md-12">
      <%= paginate @menus %>
    </div>
  </div>
</div>