<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="form_box">
        <h4 class="center">新規商品登録</h4>
        <div class="back_btn right">
          <i class="fas fa-angle-left fa-lg"></i><%= link_to "戻る", :back, class: "font-20" %>
        </div>
        <hr>
        <%= render partial: 'menus/form', locals:{menu: @menu, btn: "登録"} %>
      </div>
    </div>
  </div>
</div>
<script>
$('input').on('focusin', function() {
  $(this).parent().find('label').addClass('active');
});

$('input').on('focusout', function() {
  if (!this.value) {
    $(this).parent().find('label').removeClass('active');
  }
});
</script>
