<div class="container-fluid" style="background-color:#eee">
  <div class="row">
    <div class="col-4" style="padding:0">
      <div class="content_box">
        <h5>注文状況</h5>
        <hr>
        <div class="content_box_detail">
          <table class="table table-hover table-borderless">
            <tbody>
              <tr>
                <td>メニュー</td>
              </tr>
              <tr>
                <td>メニュー</td>
              </tr>
              <tr>
                <td>メニュー</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-8" style="padding:0">
      <div class="content_box">
        <h5>売上</h5>
        <div class="content_box_detail">
          <hr>
            <div class="row">
              <div class="col-4">
                <h4>¥0/0件</h4>
                <p>今月の売上金額/売上件数</p>
              </div>
              <div class="col-4">
                <h4>¥0/0件</h4>
                <p>今日の売上金額/売上件数</p>
              </div>
              <div class="col-4">
                <h4>¥0/0件</h4>
                <p>前日の売上金額/売上件数</p>
              </div>
            </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4" style="padding:0">
      <div class="content_box">
        <h5>ショップ情報</h5>
        <hr>
        <div class="content_box_detail">
          <table class="table table-hover table-borderless">
            <tbody>
              <tr>
                <td>メニュー</td>
              </tr>
              <tr>
                <td>メニュー</td>
              </tr>
              <tr>
                <td>メニュー</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-4" style="padding:0">
      <div class="content_box">
        <h5>ユーザー情報</h5>
        <hr>
        <div class="content_box_detail">
          <table class="table table-hover table-borderless">
            <tbody>
              <tr>
                <td>メニュー</td>
              </tr>
              <tr>
                <td>メニュー</td>
              </tr>
              <tr>
                <td>メニュー</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-4" style="padding:0">
      <div class="content_box">
        <h5>お問い合わせ</h5>
        <hr>
        <div class="content_box_detail">
          <table class="table table-hover table-borderless">
            <tbody>
              <tr>
                <td>メニュー</td>
              </tr>
              <tr>
                <td>メニュー</td>
              </tr>
              <tr>
                <td>メニュー</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
