<div class="modal fade" id="shopMenuModal" tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content container">
      <div class="modal-body">
        <div class="modal_title">
          <h5 class="center">商品管理</h5>
        </div>
        <hr>
        <table class="table table-hover table-borderless">
          <tbody>
            <tr class="pointer" data-href="<%= shops_menus_path %>">
              <td>登録商品一覧</td>
            </tr>
            <tr class="pointer" data-href="<%= new_menu_path %>">
              <td>商品新規登録</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->