<div class="modal fade" id="shopOrderModal" tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content container">
      <div class="modal-body">
        <div class="modal_title">
          <h5 class="center">注文管理</h5>
        </div>
        <hr>
        <table class="table table-hover table-borderless">
          <tbody>
            <tr class="pointer" data-href="<%= today_index_shops_orders_path %>">
              <td>本日の注文一覧</td>
            </tr>
            <tr class="pointer" data-href="<%= shops_orders_path %>">
              <td>過去の受注履歴</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->