<div class="modal fade" id="shopSaleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content container">
      <div class="modal-body">
        <div class="modal_title">
          <h5 class="center">売上管理</h5>
        </div>
        <hr>
        <table class="table table-hover table-borderless">
          <tbody>
            <tr class="pointer" data-href="#">
              <td>本日の売上</td>
            </tr>
            <tr class="pointer" data-href="#">
              <td>月間売上</td>
            </tr>
            <tr class="pointer" data-href="#">
              <td>年間売上</td>
            </tr>
            <tr class="pointer" data-href="#">
              <td>メニュー別売上</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->