<div class="modal fade" id="shopShopModal" tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content container">
      <div class="modal-body">
        <div class="modal_title">
          <h5 class="center">店舗管理</h5>
        </div>
        <hr>
        <table class="table table-hover table-borderless">
          <tbody>
            <tr class="pointer" data-href="<%= shop_path(current_shop) %>">
              <td>店舗情報確認</td>
            </tr>
            <tr class="pointer" data-href="<%= edit_shop_path(current_shop) %>">
              <td>店舗情報編集</td>
            </tr>
            <tr class="pointer" data-href="<%= shop_shop_images_path(current_shop) %>">
              <td>店舗画像追加・編集</td>
            </tr>
            <tr class="pointer" data-href="<%= shop_business_hours_path(current_shop) %>">
              <td>営業時間管理</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->