<div class="container-fluid" style="background-color:#eee">
  <div class="row">
    <div class="col-12">
      <div class="width_box">
        <h5>メニュー詳細</h5>
        <hr>
        <div class="content_box_detail">
          <%= render partial: 'menus/show_table' %>
        </div>
        <div class="return_btn center">
          <%= link_to "一覧へ戻る", shops_menus_path, class: "btn btn-outline-success" %>
        </div>
      </div>
    </div>
  </div>
</div>