<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="form_box">
        <h5>『<%= @shop.name %>』の画像編集</h5>
        <div class="back_btn right">
          <%= link_to "画像一覧に戻る", shop_shop_images_path(@shop), class: "arrow2" %>
        </div>
        <hr>
        <%= form_for @shop_image, url: shop_shop_image_path(@shop, @shop_image), method: :patch do |f|  %>
          <%= render partial: "shop_images/form", locals:{f:f, shop_image: @shop_image, img: @shop_image.file_name.url, btn: "編集"} %>
        <% end %>

      </div>
    </div>
  </div>
</div>