<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="content_box">
        <h4>よくあるご質問</h4>
        <hr>

        <div class="content_box_detail ma-b-20">
          <h6>
            <span class="question ma-r-20 red">Q.</span>
            <a data-toggle="collapse" href="#q0" role="button" aria-expanded="false" aria-controls="q0">
              「Pickup」とはどんなサイトですか<i class="fas fa-chevron-down"></i>
            </a>
          </h6>
          <div class="collapse" id="q0">
            <div class="card card-body">
              <p>
                <span class="answer ma-r-10 red">A.</span>
                「Pickup」は、テイクアウト注文専用のサイトです。<br>
                デリバリーやテイクアウトの需要が高まる中、都会ではデリバリー代行サービスが当たり前のように利用されています。
                しかし地方は、都会のように店舗や届け先が密集しているわけではないため、利用者側にも店舗様にもメリットが少ないことが挙げられます。<br>
                そこで、当サイトは地方の強みを生かしテイクアウトに特化した注文を簡単にするサイトとして「Pickup」を作りました。<br>
                また、どこのお店がテイクアウトに対応しているかを一目で確認することができるため、お店探しにも使うことができるサイトになっております。
              </p>
            </div>
          </div>
        </div>

        <div class="content_box_detail ma-b-20">
          <h6>
            <span class="question ma-r-20 red">Q.</span>
            <a data-toggle="collapse" href="#q1" role="button" aria-expanded="false" aria-controls="q1">
              登録方法がわかりません<i class="fas fa-chevron-down"></i>
            </a>
          </h6>
          <div class="collapse" id="q1">
            <div class="card card-body">
              <p>
                <span class="answer ma-r-10 red">A.</span>
                ページ下部にある利用者様向けの新規登録からお願いいたします。<br>
                メールアドレスで登録する方法と、SNSのアカウントと連携をする方法があります。<br>
                SNS連携をされた場合でも、パスワードは任意のものを設定していただきます。<br>
                また、当アプリは連絡手段にメールアドレスを利用します。如何なる場合でもメールアドレスのご本人様確認をさせていただきますので、
                お手数ですが、ご協力をお願いいたします。
              </p>
            </div>
          </div>
        </div>

        <div class="content_box_detail ma-b-20">
          <h6>
            <span class="question ma-r-20 red">Q.</span>
            <a data-toggle="collapse" href="#q2" role="button" aria-expanded="false" aria-controls="q2">
              ログイン方法がわかりません<i class="fas fa-chevron-down"></i>
            </a>
          </h6>
          <div class="collapse" id="q2">
            <div class="card card-body">
              <p>
                <span class="answer ma-r-10 red">A.</span>
                PCの場合はページ上部にある一番右のログインよりログインしてください。<br>
                スマートフォンの方も右上のメニューよりログインを選択してください。<br>
                ログインページでは、登録されているメールアドレスとパスワードを入力してログインをお願いいたします。<br>
                新規登録の際にSNSと連携して登録された場合は、該当のSNSを用いてログインする場合はパスワードの入力は不要です。（パスワードでもログインできます。）
              </p>
            </div>
          </div>
        </div>

        <div class="content_box_detail ma-b-20">
          <h6>
            <span class="question ma-r-20 red">Q.</span>
            <a data-toggle="collapse" href="#q3" role="button" aria-expanded="false" aria-controls="q3">
              どうやって注文するのですか<i class="fas fa-chevron-down"></i>
            </a>
          </h6>
          <div class="collapse" id="q3">
            <div class="card card-body">
              <p>
                <span class="answer ma-r-10 red">A.</span>
                商品をタップしていただくと「カートに追加する」または「単品注文する」を選択する画面になります。<br>
                カートに追加する場合は、他の商品も一緒に注文することができます。（まとめて注文できる商品は、同一店舗のものに限る）<br>
                メニューが決まったら注文確定画面に移ります。<br>
                受け取り時間や要望を書き込むことができるので、特別店舗に伝えたいことがある場合につきましては、そちらへ記入ください。
                なお、受け取り時間は商品の提供目安時間や定休日などによっても異なります。ご不明点がある場合は、それぞれの店舗で確認をお願いいたします。
              </p>
            </div>
          </div>
        </div>

        <div class="content_box_detail ma-b-20">
          <h6>
            <span class="question ma-r-20 red">Q.</span>
            <a data-toggle="collapse" href="#q4" role="button" aria-expanded="false" aria-controls="q4">
              決済はいつ行われますか<i class="fas fa-chevron-down"></i>
            </a>
          </h6>
          <div class="collapse" id="q4">
            <div class="card card-body">
              <p>
                <span class="answer ma-r-10 red">A.</span>
                決済の代行は当アプリではしておりません。<br>
                受け取りに行った際に店舗の決済方法に従ってください。
              </p>
            </div>
          </div>
        </div>

        <div class="content_box_detail ma-b-20">
          <h6>
            <span class="question ma-r-20 red">Q.</span>
            <a data-toggle="collapse" href="#q5" role="button" aria-expanded="false" aria-controls="q5">
              注文を送信したら確実に受け付けてくれますか<i class="fas fa-chevron-down"></i>
            </a>
          </h6>
          <div class="collapse" id="q5">
            <div class="card card-body">
              <p>
                <span class="answer ma-r-10 red">A.</span>
                希望時間の店舗の状況や不定休、注文の状況によってはキャンセルされる場合もあります。<br>
                キャンセルの場合は、キャンセル連絡が登録メールアドレスに届きます。キャンセルの理由が知りたい場合については直接店舗様へご連絡ください。
              </p>
            </div>
          </div>
        </div>

        <div class="content_box_detail ma-b-20">
          <h6>
            <span class="question ma-r-20 red">Q.</span>
            <a data-toggle="collapse" href="#q6" role="button" aria-expanded="false" aria-controls="q6">
              注文受付完了のタイミングはいつですか<i class="fas fa-chevron-down"></i>
            </a>
          </h6>
          <div class="collapse" id="q6">
            <div class="card card-body">
              <p>
                <span class="answer ma-r-10 red">A.</span>
                アプリから注文した場合、お店の営業時間であれば原則１５分以内に受付完了の連絡が来ます。営業時間外の場合は次の営業が始まってからの場合もあります。
                （店舗によっては営業時間外であっても対応していただける場合があります）<br>
                <span class="red">注：注文を送信しただけでは受付が完了したわけではありません。受付完了のメールをもって受付完了となります。</span>
              </p>
            </div>
          </div>
        </div>

        <div class="content_box_detail ma-b-20">
          <h6>
            <span class="question ma-r-20 red">Q.</span>
            <a data-toggle="collapse" href="#q7" role="button" aria-expanded="false" aria-controls="q7">
              注文のキャンセルはできますか<i class="fas fa-chevron-down"></i>
            </a>
          </h6>
          <div class="collapse" id="q7">
            <div class="card card-body">
              <p>
                <span class="answer ma-r-10 red">A.</span>
                注文送信後、店舗様が受付を確定するまでの間はユーザーメニューの注文履歴からキャンセルができます。<br>
                しかし、確定した後の場合は基本的にアプリでのキャンセルは受け付けておりません。<br>
                止むを得ずキャンセルする場合については店舗に直接ご連絡いただきますようお願いいたします。<br>
                <span class="red">注：受け取り時間によってはキャンセルできない場合もあります。</span>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>