<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <div class="shop_edit wid-40 ma-a pa-t-30">
        <%= link_to "管理者ログイン", new_admin_session_path, class:"btn btn-primary wid-100" %>
      </div>
    </div>
    <div class="col-4">
      <div class="shop_edit wid-40 ma-a pa-t-30">
        <%= link_to "店舗ログイン", new_shop_session_path, class:"btn btn-primary wid-100" %>
      </div>
    </div>
    <div class="col-4">
      <div class="shop_edit wid-40 ma-a pa-t-30">
        <%= link_to "ユーザーログイン", "#", class:"btn btn-primary wid-100" %>
      </div>
    </div>
  </div>
</div>

