<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="content_box">
        <h4>ご購入方法</h4>
        <hr>

        <div class="content_box_title ma-y-30">
          <h4 class="center">\"簡単３ステップで注文が可能"/</h4>
        </div>
        <div class="content_box_image ma-b-30">
          <%= image_tag "method/step1.jpg", class:"wid-100" %>
          <%= image_tag "method/step2.jpg", class:"wid-100" %>
          <%= image_tag "method/step3.jpg", class:"wid-100" %>
        </div>
        <div class="content_box_detail ma-b-30">
          <ul class="font-10">
            <li>
              ご注文の受け取り時間の指定は、店舗の<span class="red">営業時間内</span>でお願いいたします。営業時間外のご注文はできかねます。<br>
              なお、商品ごとにその店舗が提供までの目安時間も設定されており、現在時刻から起算して目安時間より前の時間は営業時間内であっても注文することができませんのでご了承ください。
            </li>
            <li>
              <span class="red">お店状況によってはご注文がキャンセルされる場合もございます。</span><br>
              その場合は、キャンセル連絡がご登録メールアドレス宛に届きますので、受け取り時間を変更して再度ご注文いただくか、直接店舗様にご連絡いただきますようお願いいたします。
            </li>
            <li>
              受付が完了した注文のキャンセルは、アプリからできなくなっております。お手数ですが、直接店舗へご連絡をお願いいたします。
            </li>
            <li>
              ご注文の無断キャンセルは、規約違反となります。アカウントを停止させていただく場合もありますのでご注意ください。
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>