<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="content_box">
        <h4>利用規約</h4>
        <hr>
        <div class="content_box_detail font-10">
          <p class="ma-b-10">
            Circrest（以下、「当社」といいます。）では、当社の運営する『PickUp』（以下、「当社サービス」といいます。）を
            ご利用いただくお客様に関する情報（以下、「利用者情報」といいます。）を適切に保護するため、その取扱いにつきましては細心の注意を払っております。
          </p>
          <p class="ma-b-10">
            安心してご利用いただくために、当社サービスにおける利用者情報の取扱いについて、以下のプライバシーポリシー（以下、「本プライバシーポリシー」といいます）を定めております。
            当社サービスをご利用いただくお客様は本プライバシーポリシーに従って利用者情報が取り扱われることにご同意いただきます。
          </p>
          <p class="ma-b-10">
            また、本プライバシーポリシーは、改定されることがあります。重要な変更にあたってはお客様に対してわかりやすい方法について改定内容をお知らせします。
          </p>
          <p class="ma-b-10">
            なお、お客様が当社サービスに各種SNSアカウントを利用してログイン（以下、「SNSログイン」といいます。）した場合、各々のサービスが定めるプライバシーポリシーも適用されます。
          </p>
        </div>

        <div class="content_box_title ma-t-30">
          <h6>1.利用者情報の取得について</h6>
        </div>
        <div class="content_box_detail font-10">
          <ul class="ma-l-20">
            <li class="ma-b-10">当社は、プライバシー尊重の観点から、利用者情報は保護すべき重要な情報であると認識し、お客様の情報を収集した際には、厳重に管理いたします。</li>
            <li class="ma-b-10">当社は、利用者情報への不正アクセス、紛失、破壊、改ざんおよび漏洩などに関し予防措置を講ずるとともに、管理責任者を置き、適切に管理し、万一の発生時には速やかな是正措置を実施いたします。</li>
          </ul>
        </div>

        <div class="content_box_title ma-t-30">
          <h6>2.利用者情報の管理について</h6>
        </div>
        <div class="content_box_detail font-10">
          <ul class="ma-l-20">
            <li class="ma-b-10">
              当社サービスにおいて当社が取得する利用者情報は以下のとおりです。
              <ul class="ma-l-10">
                <li class="ma-b-10">
                  お客様による入力情報<br>
                  お客様が当社サービスをご利用される際、最適なサービス提供のために氏名、電話番号、メールアドレスの入力をお願いする場合があります。
                </li>
                <li class="ma-b-10">
                  お客様による当社サービスの利用情報<br>
                  お客様が当社サービスを通じて行った注文履歴等のサービス利用に関する情報、および当社サービスの閲覧履歴等の利用状況に関する情報をクッキー等のツールを利用して取得する場合があります。<br>
                  また、お客様が当社サービスを利用した際にIPアドレスやブラウザ情報などのアクセスログや機器情報を取得する場合があります。
                </li>
                <li class="ma-b-10">
                  第三者が運営するサービスの利用にかかる情報<br>
                  当社は、お客様への最適なサービス提供のために、第三者から利用者情報を受領する場合があります。受領に際して、
                  独自サービスを運営する提携事業者から利用者情報を受領する場合と、当社サービスと連携したサービスを運営する提携事業者から利用者情報を受領する場合がございます。
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="content_box_title ma-t-30">
          <h6>3.利用者情報の利用目的について</h6>
        </div>
        <div class="content_box_detail font-10">
          <ul class="ma-l-20">
            <li class="ma-b-10">
              当社サービスでは、利用者情報を次に掲げる目的に利用します。それ以外の目的に利用者情報を利用させていただく場合には、個々のサービス上で別途その旨をご連絡いたします。
            </li>
          </ul>
          <ol class="ma-l-20">
            <li class="ma-b-10">
              当社サービスの提供・改善・開発のため
              <ul class="ma-l-10">
                <li>お客様が当社サービスを円滑に利用できるようにするため</li>
                <li>当社サービス利用に関する統計データを作成し改善につなげるため</li>
                <li>お客様からのお問い合わせに対する対応のため</li>
                <li>現在提供している当社サービスまたは今後提供を検討している当社サービスに関するアンケート実施のため</li>
                <li>今後の当社サービスに関する新企画立案を行い提供するため</li>
                <li>その他当社サービスに関する重要なお知らせ等、必要に応じた連絡を行うため</li>
              </ul>
            </li>
            <li class="ma-b-10">
              当社サービスのセキュリティ、不正利用防止のため
              <ul class="ma-l-10">
                <li>スパム行為や不正アクセス等、不正利用防止のため</li>
                <li>不正利用が発生した場合などに本人確認や連絡を行うため</li>
              </ul>
            </li>
            <li class="ma-b-10">
              パーソナライズ、広告配信のため
              <ul class="ma-l-10">
                <li>当社サービスおよび当社以外の事業者が広告主となる広告情報等を告知するため</li>
                <li>利用者個人にカスタマイズされた当社サービス提供のため</li>
              </ul>
            </li>
          </ol>
        </div>

        <div class="content_box_title ma-t-30">
          <h6>4.利用者情報の委託</h6>
        </div>
        <div class="content_box_detail font-10">
          <ul class="ma-l-20">
            <li class="ma-b-10">
              当社は利用目的の達成に必要な範囲内においてお客様から取得した利用者情報の全部または一部を業務委託先（外国にある委託先を含みます）に委託することがあります。
              その際、業務委託先としての適格性を十分審査するとともに、契約にあたって守秘義務に関する事項等を規定し、情報が適正に管理される体制作りを行います。
            </li>
          </ul>
        </div>

        <div class="content_box_title ma-t-30">
          <h6>5.利用者情報の第三者提供</h6>
        </div>
        <div class="content_box_detail font-10">
          <ul class="ma-l-20">
            <li class="ma-b-10">
              当社は、以下の場合または法令で認められる場合を除き、お客様の同意なく利用者情報を第三者に提供することはありません。
            </li>
          </ul>
          <ol class="ma-l-20">
            <li class="ma-b-10">
              当社サービスの加盟店によるサービス提供
              <p>
                お客様がご注文になる加盟店に対し、ご注文内容等の利用者情報を、サービス提供に必要な範囲で、お客様に代わって、電磁的方法等により提供いたします。
              </p>
              <p>
                加盟店は、お客様の利用者情報を、当社サービスにてご注文いただいた商品をお客様に提供するために利用させていただくことはもちろん、
                加盟店の商品情報、サービス情報、アンケート等をお客様に提供させていただくためなどに利用します。<br>
                当社は、加盟店に対し、個人情報保護法を遵守し、お客様のプライバシーに配慮した利用者情報の取扱いをすることを規約などで義務づけております。
              </p>
            </li>
            <li class="ma-b-10">
              不正決済の調査
              <p>
                当社は、加盟店に対し、個人情報保護法を遵守し、お客様のプライバシーに配慮した利用者情報の取扱いをすることを規約などで義務づけております。
              </p>
            </li>
            <li class="ma-b-10">
              クチコミ情報の共有
              <p>
                お客様が当社サービス内に投稿したクチコミ情報等（受注番号、タイトル、コメント内容、評価を含みます）を以下の提供先に対して提供する場合があります。
              </p>
              <ul class="ma-l-10">
                <li>
                  投稿内容の対象の加盟店またはチェーン本部<br>
                  ※ 加盟店またはチェーン本部に対しては、上記のクチコミ情報等に加え、ニックネーム、ご利用日、ご注文内容等を提供する場合があります。
                </li>
                <li>
                  当社がクチコミ情報の再利用を許諾する当社サービス以外のクチコミサイト運営事業者
                  当社以外のクチコミサイトでお客様のクチコミが公開される場合があります。
                </li>
              </ul>
            </li>
          </ol>
        </div>

        <div class="content_box_title ma-t-30">
          <h6>6.利用者情報の第三者共有利用について</h6>
        </div>
        <div class="content_box_detail font-10">
          <ul class="ma-l-20">
            <li class="ma-b-10">
              当社は、サービスの性質上、利用店舗様に対しご利用者様のご連絡先を共有することがございますが、円滑なサービスの運営のためであり
              目的達成以外には使用しません。
            </li>
            <li class="ma-b-10">
              共同利用される利用者情報は、上記の「2. 利用者情報の取得について」に記載された項目と同じです。
            </li>
            <li class="ma-b-10">
              共同利用の目的は、上記の「３. 利用者情報の利用目的について」に記載された利用目的と同じです（ただし、共同利用の利用目的については、「当社」を各共同利用先に読み替えるものとします）。
            </li>
            <li class="ma-b-10">
              共同利用における管理責任者は、当社となります。お問い合わせについては、以下出前館カスタマーセンターにお問い合わせください。
            </li>
          </ul>
        </div>

        <div class="content_box_title ma-t-30">
          <h6>7.情報の確認・訂正・削除等</h6>
        </div>
        <div class="content_box_detail font-10">
          <ul class="ma-l-20">
            <li class="ma-b-10">
              登録情報について
              <p class="ma-t-10">
                お客様は、当社サービス上でいつでも会員IDまたはご登録いただいているメールアドレス、パスワードを入力の上、登録情報の確認、訂正ができます。
                また、アカウントを削除することができます。ただし、お客様によるアカウント削除後、当社システムからご登録情報が完全に削除されるまで一定時間がかかる場合があります。
              </p>
            </li>
            <li class="ma-b-10">
              上記以外の個人情報について
              <p class="ma-t-10">
                上記の方法で登録情報の確認、訂正、アカウント削除等が出来ない場合、または当社サービスサイト上で確認できない個人情報の開示等を求める場合、
                「9. 利用者情報に関するお問い合わせについて」で示すお問合せ窓口まで電子メールにてご請求ください。この場合、当社より本人確認のための情報提出をお願いする場合があります。
                当該ご請求がお客様ご本人によるものであることが確認できた後、法令に則り、合理的な期間内に、お客様の個人情報を開示、訂正、削除等を行います。
              </p>
            </li>
          </ul>
        </div>

        <div class="content_box_title ma-t-30">
          <h6>8.利用者の情報に関するお問い合わせについて</h6>
        </div>
        <div class="content_box_detail font-10">
          <ul class="ma-l-20">
            <li class="ma-b-10">
              当社サービスでは、利用者情報に関するお問い合わせは、弊社HPより承っております。
              <p class="ma-t-10">
                Circrest
                公式ホームページ：<a href="https://circrest.com/contact">https://circrest.com</a>
              </p>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>