<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="content_box">
        <h4>事業者用ページtop</h4>
        <hr>

        <div class="content_box_title ma-t-30">
          <h6 class="center">準備中</h6>
        </div>
        <div class="content_box_detail font-10">
          
        </div>

      </div>
    </div>
  </div>
</div>