<div class="container-fluid head-pad">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="width_box">
        <div class="content_box_detail">
          <h5 class="center">ご注文ありがとうございます。</h5>
          <div class="infomation_box ma-t-20">
            
          </div>
          <hr>
          <div class="back_btn center">
            <%= link_to "トップへ戻る", root_path, class: "button-fill" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>