<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="content_box">
        <div class="content_box_detail">
          <h5 class="center">ご注文ありがとうございます</h5>
          <div class="infomation_box center ma-t-20">
            <p>
              注文の内容を店舗様に<br>
              お送りしました。<br>
              受付完了のメールがあるまで、<br>
              しばらくお待ちください。<br>
            </p>
            <p class="ma-t-10">
              なお、お店の混雑状況によってはお断りさせていただく場合もございますので、ご了承ください。
            </p>
          </div>
          <div class="back_btn center">
            <%= link_to "トップへ戻る", root_path, class: "button-fill" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>