<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="content_box">
        <div class="content_box_detail">
          <h5 class="center">ご注文ありがとうございます</h5>
          <div class="infomation_box center ma-t-20">
            <p>
              注文メールを店舗様にお送りしました。<br>
              受付完了のメールがあるまで、しばらくお待ちください。<br>
            </p>
            <p class="ma-t-10">
              なお、お店の状況によってはご注文がキャンセルされる場合もございますので、ご了承ください。
            </p>
          </div>
          <div class="back_btn center">
            <%= link_to "トップへ戻る", root_path, class: "button-fill" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>