<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="content_box">
        <div class="content_box_detail">
          <h5 class="center">お問い合わせありがとうございます</h5>
          <div class="infomation_box center ma-t-20">
            <p>
              お問い合わせいただいた内容を確認させていただき、ご連絡いたします。<br>
              ２〜３日経っても連絡がこない場合は、お手数ですが再度お問い合わせください。
            </p>
          </div>
          <div class="back_btn center">
            <%= link_to "トップへ戻る", root_path, class: "button-fill" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>