<!-- メイン画像 -->
<div id="mainBanner" class="mainImg">
	<%= image_tag "main_img.jpg", alt: "" %>
</div>
<!-- / メイン画像 -->
<!-- サーチバー  -->
<%= render partial: "layouts/shop_search_bar" %>
<!-- / サーチバー  -->

<div class="container-fluid">
  <% if @shops.present? %>
    <div class="gridWrapperTitle">
      <h6>レストラン一覧</h6>
    </div>
    <%= render partial: "users/shops/shops", locals:{shops: @shops} %>
    <div class="row center ma-b-20">
      <div class="col-md-12">
        <%= paginate @shops %>
      </div>
    </div>
  <% end %>
</div>