<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="form_box">
        <h5>『<%= @menu.name %>』の画像編集</h5>
        <div class="back_btn right">
          <%= link_to "戻る", menu_menu_images_path(@menu), class: "arrow2" %>
        </div>
        <hr>
        <%= form_for @menu_image, url: menu_menu_image_path(@menu, @menu_image), method: :patch do |f|  %>
          <%= render partial: "menu_images/form", locals:{f:f, menu_image: @menu_image, img: @menu_image.file_name.url, btn: "編集"} %>
        <% end %>
      </div>
    </div>
  </div>
</div>