<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="form_box">
        <h3 class="center">画像編集</h3>
        <hr>
        <%= form_for @menu_image, url: menu_menu_image_path(@menu, @menu_image), method: :patch do |f|  %>

          <div class="field">
            <%= image_tag @menu_image.file_name.url, width:"80%" %>
            <%= f.file_field :file_name %>
          </div>

          <div class="actions center">
            <%= f.submit "登録", class: "button-fill" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>