<div class="container-fluid background">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="form_box">
        <h3 class="center">画像編集</h3>
        <hr>
        <%= form_for @menu_image, url: menu_menu_images_path(@menu.id) do |f|  %>
          <%= f.hidden_field :menu_id, value: @menu.id %>
          <div class="field">
            <%= f.file_field :file_name %>
          </div>

          <div class="actions">
            <%= f.submit "登録", class: "button-fill" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
<script>
  $(function() {
    // disable auto discover
    Dropzone.autoDiscover = false;

    $(".dropzone").dropzone({
      maxFilesize: 1,
      addRemoveLinks: true
    });
  });
</script>