<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="form_box">
        <h5>『<%= @menu.name %>』の画像追加</h5>
        <div class="back_btn right">
          <%= link_to "戻る", menu_menu_images_path(@menu), class: "arrow2" %>
        </div>
        <hr>
        <%= form_for @menu_image, url: menu_menu_images_path(@menu) do |f|  %>
          <%= render partial: "menu_images/form", locals:{f:f, menu_image: @menu_image, img: "noimage.png", btn: "追加する"} %>
        <% end %>

      </div>
    </div>
  </div>
</div>
<script>
  $(function() {
    // disable auto discover
    Dropzone.autoDiscover = false;

    $(".dropzone").dropzone({
      maxFilesize: 1,
      addRemoveLinks: true
    });
  });
</script>