/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require dropzone/dropzone
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
a{
  color: #333;
}

textarea{
  height:200px;
}

i {
  display: inline-block;
  width: 20px;
  text-align: center;
}

.sidebar{
  min-height:100vh;
  padding-top:55px;
  background-color: rgba(0, 0, 0, 0.03);
  box-shadow: 0px 0px 4px 4px #eee;
}
@media (min-width: 768px) {
  .humbargerMenu {
    display: none;
  }
}

.mainBox{
  height: 100vh;
  overflow:scroll;
}

.text-body{
  font-size: 16px;
}
@media (max-width: 991px) {
  .sidebar {
    display:none;
    padding-top:0;
  }
}
.content_title_box {
  background-color: #fff;
  margin: 20px;
  padding: 10px;
}

.width_box{
  background-color: #fff;
  margin:20px;
  padding:10px;
  box-shadow: 0 0 8px gray;
}

.content_box{
  padding-top:20px;
}

.form_box{
  margin: 0 20px;
  padding:20px;
  background-color: #fff;
}
@media (max-width: 768px) {
  .form_box{
    padding:20px 10px;
  }
}

.sidebar_box{
  box-shadow: 0 0 8px gray;
}

.fixed_box{
  position: fixed;
  width:100%;
  z-index:1000;
}

// フッターを一番下に固定する
.wrapper {
  min-height: 100vh;
  position: relative;
  /*←相対位置*/
  padding-bottom: 100px;
  /*←footerの高さ*/
  box-sizing: border-box;
  /*←全て含めてmin-height:100vhに*/
}

.scale-box {
  overflow: hidden;
  /*画像拡大時にはみ出た部分を隠す*/
  cursor: pointer;
}

.scale-box:hover {
  .scale-img {
    transform: scale(1.1, 1.1);
    /*画像の拡大*/
  }
  .shop_scale-img {
    transform: scale(1.1, 1.1);
  }
}
// 商品ホバーの画像をポップさせる
.scale-img {
  transition-duration: 0.5s;
  /*変化の時間*/
  
}

.scale-img:hover {
  transform: scale(1.1, 1.1);
  /*画像の拡大*/
  cursor: pointer;
  /*カーソルをポインターにする*/
}
// 商品ホバーの画像をポップさせる
.shop_scale-img {
  transition-duration: 0.5s;
  /*変化の時間*/
  padding:5px;

}

.shop_scale-img:hover {
  transform: scale(1.1, 1.1);
  /*画像の拡大*/
  cursor: pointer;
  /*カーソルをポインターにする*/
}

.card{
  border:none;
  .card-body{
    padding: 0.5rem 0.75rem;
    h5{
      margin-bottom: 0;
    }
  }
}

.intro_box{
  overflow-wrap: break-word;
}

.search{
  margin-top:20px;
}

.title-border {
  display: flex;
  align-items: center;
}

.title-border:before,
.title-border:after {
  border-top: 1px solid;
  content: "";
  flex-grow: 1;
}

.title-border:before {
  margin-right: 1rem;
}

.title-border:after {
  margin-left: 1rem;
}

.c-title{
  font-size: 15px;
}
.c-subtitle{
  font-size: 13px;
}
.c-text{
  font-size: 13px;
}
.m-title{
  font-size: 15px;
}
.m-text{
  font-size: 13px;
}
.grad{
  background: -webkit-linear-gradient(155deg, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(155deg, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
}

.leftMargin{
  margin-left: -25px;
}

/*ページネーション自体のデザイン*/
.pagination{
  font-size: 10px;
  justify-content: center;
}
.pagination>li>a {
  border: none;
  /*枠線をなくす*/
  color: #696969;
  /*文字の色を変える*/
  justify-content: center;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #5b9640;
  /*背景の色を変える*/
  border-radius: 15px;
  /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;
  /*角を丸くする*/
}