/*************
/* ヘッダー
*************/
#header {
  overflow: hidden;
  box-shadow: 0 0 4px 2px #aaa;
  position: fixed;
  z-index: 1000;
  width: 100vw;
  background: #fff;
  height: 55px;
}

* html #header {
  height: 1%;
}


/*************
/* ロゴ
*************/
#header .logo {
  float: left;
}

.logo a {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.logo span {
  font-size: 12px;
  font-weight: normal;
}

#header h1 {
  font-size: 11px;
  color: #444;
}

.non_style {
  list-style: none;
}

.user_icon {
  position: absolute;
  right: 60px;
  top: 12px;
  padding: 2px 7px;
  background-color: #fff;
  color: #EFAA29;
  border-radius: 50%;
  border: 2px solid #EFAA29;
}

.cart_icon {
  position: absolute;
  right: 10px;
  top: 12px;
  padding: 2px 7px;
  background-color: #fff;
  color: #EFAA29;
  border-radius: 50%;
  border: 2px solid #EFAA29;
}

.menu_icon {
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 2px 7px;
  background-color: #fff;
  color: #EFAA29;
}

.search_icon {
  position: absolute;
  left: 16px;
  top: 16px;
  padding: 2px 7px;
  color: #EFAA29;
}

@media only screen and (min-width:940px) {
  .cart_icon {
    display: none;
  }

  .user_icon {
    display: none;
  }

  .search_icon {
    display: none;
  }

  .menu_icon {
    display: none;
  }
}

.global_menu_modal{
  top:50px;
}
