<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <ul class="footer_menu" style="padding-top:20px">
        <li class="dis-ib ma-x-10">
          <%= link_to "プライバシーポリシー", privacy_path, class:"white" %>
        </li>
        <li class="dis-ib ma-x-10">
          <%= link_to "利用規約", term_path, class:"white" %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>©PickUp from Circrest 2021</p>
    </div>
  </div>
</div>