<div id="header">
	<div class="inner">
		<!-- ロゴ -->
		<div class="logo">
			<a href="/shops">
        <%= image_tag "logo2.png", size:"80x55" %>
      </a>
		</div>
		<!-- / ロゴ -->
		<% if shop_signed_in? %>
			<div class="menu_icon" data-toggle="modal" data-target="#menuModal">
				<i class="fas fa-bars fa-2x"></i>
			</div>
		<% elsif admin_signed_in? %>
			<div class="menu_icon" data-toggle="modal" data-target="#authModal">
				<i class="fas fa-bars fa-2x"></i>
			</div>
		<% else %>
			<div class="menu_icon" data-href="/shops/sign_in">
				<i class="fas fa-sign-in-alt fa-2x"></i>
			</div>
		<% end %>
		<!-- メインナビゲーション -->
    <nav id="mainNav">
			<div class="panel">
				<ul class="non_style">
					<% if shop_signed_in? %>
						<li><a href="#" data-toggle="modal" data-target="#shopMenuModal">商品管理<br><span>Menus</span></a></li>
						<li><a href="#" data-toggle="modal" data-target="#shopOrderModal">注文管理<br><span>Orders</span></a></li>
						<li><a href="#" data-toggle="modal" data-target="#shopSaleModal">売上管理<br><span>Sales</span></a></li>
						<li><a href="#" data-toggle="modal" data-target="#shopShopModal">店舗管理<br><span>Shops</span></a></li>
						<li><a href="/shops/sign_out" data-method="delete">ログアウト<br><span>LogOut</span></a></li>
					<% else %>
						<li><a href="/top">飲食店様向け<br><span>Shops</span></a></li>
						<li><a href="/shops/sign_in">ログイン<br><span>LogIn</span></a></li>
					<% end %>
				</ul>
      </div>
    </nav>
  </div>
</div>