<div class="search_bar">
  <div class="container">
    <div class="row">
      <div class="col-6 left">

      </div>
      <div class="col-6 right">
        <p>
          <a class="white ma-r-30" data-toggle="collapse" href="#shopSearchBar" role="button" aria-expanded="false" aria-controls="shopSearchBar">
            <i class="fas fa-search"></i>店舗検索<i class="fas fa-angle-down"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
  
</div>
<div class="collapse" id="shopSearchBar">
  <%= search_form_for @q, url: search_users_shops_path, method: :get do |f| %>
    <div class="container">
      <div class="row">
        <div class="col-sm-4" id="detailSearch">
          <div class="detail_search__group ma-t-10">
            <div class="detail_search__group--label">
              <i class="fas fa-search"></i><span>店舗名</span><br>
              <%= f.search_field :name_cont, placeholder: "レストラン名", class: "form-under" %>
            </div>
          </div>
        </div>
        <div class="col-sm-4" id="detailSearch">
          <div class="detail_search__group ma-t-10">
            <div class="detail_search__group--label">
              <i class="fas fa-search"></i><span>検索キーワード</span><br>
              <%= f.search_field :shop_tags_content_cont, placeholder: "例）おしゃれ", class: "form-under" %>
            </div>
          </div>
        </div>
      </div>

      <div class="detail_search__btns center ma-y-30">
        <%= f.submit "検索", class:"button-fill" %>
      </div>
    </div>
  <% end %>
</div>