<!-- ヘッダー -->
<div id="header">
	<div class="inner">
		<!-- ロゴ -->
		<div class="logo">
			<a href="/">
        <%= image_tag "logo2.png", size:"100x70" %>
      </a>
		</div>
		<!-- / ロゴ -->
	  <!-- メインナビゲーション -->
    <nav id="mainNav">
			<div class="panel">
				<ul class="non_style">
					<li><a href="/">ホーム<br><span>Home</span></a></li>
					<li><a href="#">PickUpとは<br><span>About</span></a></li>
					<li><a href="#">ご購入方法<br><span>Method</span></a></li>
					<% if user_signed_in? %>
						<li><a href="/users/<%= current_user.id %>/cart_items">お買い物かご<br><span>Cart</span></a></li>
					<% else %>
						<li><a href="#" data-toggle="modal" data-target="#authModal">お買い物かご<br><span>Cart</span></a></li>
					<% end %>
					
					<% if user_signed_in? %>
						<li><a href="/users/<%= current_user.id %>"><%= current_user.full_name %><br><span>User</span></a></li>
					<% else %>
						<li><a href="#" data-toggle="modal" data-target="#authModal">ログイン<br><span>Login</span></a></li>
					<% end %>
				</ul>
      </div>
    </nav>
  </div>
</div>
<!-- / ヘッダー -->