<!-- ヘッダー -->
<div id="header">
	<div class="inner">
		<!-- ロゴ -->
		<div class="logo">
			<a href="index.html">
        <%= image_tag "logo2.png", size:"100x70" %>
      </a>
		</div>
		<!-- / ロゴ -->
	  <!-- メインナビゲーション -->
    <nav id="mainNav">
			<div class="panel">
				<ul>
					<li class="active"><a href="#">トップ<br><span>Top</span></a></li>
					<li><a href="#">ごあいさつ<br><span>Greeting</span></a></li>
					<li><a href="#">サービス概要<br><span>Service</span></a></li>
					<li><a href="#">弊社の取り組み<br><span>Approach</span></a></li>
					<li><a href="#">会社情報<br><span>Company</span></a></li>
					<li><a href="#">お問い合わせ<br><span>Contact</span></a></li>
				</ul>
      </div>
    </nav>
		<!-- メインナビゲーション -->
  </div>
</div>
<!-- / ヘッダー -->