<p><%= @resource.full_name %>様</p>
<p>この度は、PickUpへご登録いただき、誠にありがとうございます。</p>
<p>
  ご登録されたメールアドレスは、ご注文の確認などの連絡手段として利用させていただきます。<br>
  お手数ですが下記URLより、メールアドレス認証のご協力をお願い申し上げます。<br>
</p>
<p>
  なお、SNS連携により認証されたご利用者様にも、メールアドレスが昔のままで注文が届かないなどのトラブルをなくすため、<br>
  メールを受信できるかどうか確認させたいただいております。<br>
</p>

<p><%= link_to 'メールアドレスの認証をしてPickUpを始める', confirmation_url(@resource, confirmation_token: @token), class: "button-fill" %></p>
