<p><%= @resource.full_name %>様</p>

<p>
  下記URLでパスワード再設定ができます。<br>
  リンクを押していただき、パスワードを新しく設定してください。
</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし、このメールが身に覚えのない場合は。至急運営までお問い合わせください。</p>
