<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <p class="ma-t-50 center" style="line-height:50px">
        <span class="font-20">この度は、『PickUp』へのご登録ありがとうございます。</span><br>
      </p>
      <p>
        本登録は、まだ完了していません。<br>
        ご登録されたメールアドレスは、注文に利用させていただきます。<br>
        つきましては。ご本人様のものかご確認させていただきますので、
        記載のURLよりご本人確認をお願いします。
      </p>

      <div class="center">
        <%= link_to "TOPへ戻る", root_path, class:"button-fill" %>
      </div>
    </div>
  </div>
</div>