<div class="container">
  <div class="row">
    <div class="col-12">
      <h4 class="ma-t-50 center" style="line-height:100px">
        <span class="font-30">この度は、『PickUp』へのご登録ありがとうございます。</span><br>
        本登録は、まだ完了していません。<br>
        登録されたメールアドレスがご本人様のものかご確認させていただくメールを送信いたしますので、
        記載のURLよりご本人確認をお願いします。
      </h4>

      <div class="center">
        <%= link_to "TOPへ戻る", root_path, class:"button-fill" %>
      </div>
    </div>
  </div>
</div>